*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #eee;
}

header{
    background-color: #04133d;
    display: flex;justify-content: center;
    align-content: center;
    padding: 20px;
}

header img{
    width: 100px;
}

header h1{
    color: #fff;
}

.app{
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 600px;
    /* min-height: 120vh; */
}

.tab-container{
    width: 600px;
    box-shadow: 5px 5px 5px #808080;
    overflow: hidden;
    border-radius: 5px;
}

.options{
    display: flex;
    list-style-type: none;
    width: 100%;
    height: 15%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
}

.option{
    flex-grow: 1;
    text-align: center;
    line-height: 60px;
    border: solid 1px #ccc;
    color: #444;
    cursor: pointer;
    border-bottom: 4px solid #1a337e;
}

#option1{
    border: none;
    border-radius: 5px 0 0 0;
    border-bottom: 3px solid #1a337e;
}

#option2{
    border: none;
    border-radius: 0 5px 0 0;
    border-bottom: 3px solid #1a337e;
}

.option.option-active{
    background-color: #1a337e;
    border-bottom: 1px solid rgba(7, 63, 95, .4);
    color: #fff;
}

.content{
    background-color: #fff;
    padding: 30px;
    color: #808080;
    width: 100%;
    text-align: center;
    /* overflow: hidden; */
    position: relative;
    display: none;
}

.content.content-active{
    display: block;
}

.content h2{
    font-weight: 700;
}

.content p{
    margin: 10px 0;
}

/* .text-left{
    text-align: left;
} */

.content label{
    display: block;
    margin: 15px 0;
}

.content textarea{
    padding: 10px;
    width: 100%;
    height: 150px;
    min-width: 100%;
    max-width: 100%;
    min-height: 150px;
    max-height: 150px;
}

.containerNumbersDraw{
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    gap: 5px;
}

.containerNumbersDraw input{
    height: 40px;
    width: 80px;
    background-color: #eee;
    border: 0;
    border-radius: 5px;
    outline-color: #1a337e;
    color: #1a337e;
    text-align: center;
    font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

.numbersDraw{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .numbersDraw > label{
    grid-template-columns: ;
}

.numbersDraw > input{
    
} */

.content button{
    background-color: #1480fa;
    color: #fff;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
    transition: 0.5s;
}

.content button:hover{
    filter: saturate(0.5);
}

#result-name{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%; /*Usar min-height para grandes sorteios?*/
    background-color: rgb(4 20 62 / 89%);
    transition: 0.5s;
}

#result-number{
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background-color: rgb(4 20 62 / 89%);
    transition: 0.5s;
}

#result-name.showResult{
    left: 0;
    transition: 0.5s;
}

#result-number.showResult{
    right: 0;
    transition: 0.5s;
}

#result-name span,
#result-number span{
    /* float: right; */
    position: absolute;
    right: 0;
    margin: 20px;
    color: #fff;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border: solid #fff 2px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#result-name .buttons,
#result-number .buttons{
    bottom: 20px;
    position: absolute;
    display: flex;
    gap: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
}

#result-name .buttons button i,
#result-number .buttons button i{
    margin-right: 10px;
}


#result-name p,
#result-number p{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

footer{
    height: 150px;
    background-image: url('https://ik.imagekit.io/geovani/footer-background-01.jpg_ssl_1?updatedAt=1688574682649');
    background-size: cover;
    background-attachment: fixed;
    filter: saturate(1.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0 10px;
}

footer p{
    text-align: center;
}